.main-page-container {
  margin: 3rem;
  background-color: #fff;
}

.users-list-area::-webkit-scrollbar {
  display: none;
}

.main-page {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

.users-list-area {
  width: 70%;
  overflow: auto;
}

.users-list-tabel {
  width: 100%;
  padding: 1rem 0;
}

.table-heading-text {
  font-size: 1.3rem;
  text-align: start;
  padding-bottom: 2rem;
}

.table-heading-text-name {
  width: 50%;
}

.table-heading-text-status,
.table-heading-text-access {
  width: 20%;
}

.user-details {
  display: flex;
  gap: 1.4rem;
  align-items: center;
}

.user-avatar {
  width: 2.5rem;
  height: 2.5rem;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.mb-2 {
  padding-bottom: 2rem;
}

.user-detail {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.user-name-text {
  font-weight: 500;
  font-size: 0.9rem;
}

.user-email-text {
  color: #6b7280;
  font-size: 0.9rem;
}

.status-dropdown {
  border-radius: 6px;
  background-color: #f9fafb;
  padding: 0.625rem;
  padding-right: 1rem;
  font-size: 0.9rem;
  line-height: 1.25rem;
  border: none;
  border-right: 13px solid transparent;
  outline: 1px solid #d1d5db;
  width: 70%;
}

.status-active-text {
  color: #15803d;
  font-weight: 600;
}

.access-owner-text {
  color: #6b7280;
  font-weight: 600;
}

.user-card-area {
  display: flex;
  position: relative;
  justify-content: end;
  flex: 1;
}

.side-strip {
  background-color: #d8dce3;
  width: 6rem;
  height: 100%;
}
